__pycache__/
*.py[cod]
*.so
.Python
build/
dist/
*.egg-info/
*.egg

venv/
.venv/
env/

.coverage
.cache
.pytest_cache/

temp_uploads/
converted_files/
.env
.installed

.DS_Store
Thumbs.db
Desktop.ini
.vscode/
*.code-workspace

# Legacy Versions
v1.1_Legacy/
v2.0_Legacy/
